.fondamento-regular {
  font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: normal;
}

.fondamento-regular-italic {
  font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: italic;
}

body {
    font-family: 'Fondamento', serif;
}

body {
  background-color: #161427;
  font-family: Georgia, serif;
}

header {
    border: 5px solid black;
    padding: 35px;
    text-align: center;
    background-color: #baa834;
}

  h1 {
  padding: 35px;
  text-align: center;
  background-color: #baa834;
}

h2, h3 {
text-align: center;
}

p {
max-width: 70%; /* paragraph never gets wider than 60% of the screen */
margin: 0 auto; /* centers it horizontally */
}

ul, li {
list-style-type: none;
color: navy;
display: inline-block;
font-family: Georgia, serif;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

ul {
    padding: 7px;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    list-style-type: none;
}

a {
    color: #121d51;
}

div {
    background-color: #d9c4a5;
    padding: 10px;
    border: 5px solid #baa834;
    margin-top: 10px;
    font-family: Georgia, serif;
}

div h3 {
    text-align: center;
}

footer {
    background-color: #000000;
    color: #baa834;
    padding: 7px;
    text-align: center;
    margin-top: 10px;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

    gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px; /* spacing between images */
        max-width: 600px; /* optional: keeps the grid from stretching too far */
        margin: 0 auto;
    }

    gallery img {
        width: 30%; /* three images per row (3 x 30% + gaps) */
        height: auto;
    }


    @media (max-width: 600px) {
        body {
            font-size: 14px;
            padding: 10px;
    }
        li {
            display: block; /* Makes the list items stack vertically */
            margin: 10px 0; /* Adds 10px space above and below the element, no space on the sides */
    }
        nav {
            text-align: center;
    }
        header, .chapter, footer {
            padding: 10px; /* Adds padding to header, .chapter, AND footer content */
    }
    }

